[project]
	description = TAF3 core library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ross Brattain (rbbratta)
[access "refs/for/refs/*"]
	read = group user/Ross Brattain (rbbratta)
	push = group user/Ross Brattain (rbbratta)
	label-Code-Review = -2..+2 group user/Ross Brattain (rbbratta)
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Ross Brattain (rbbratta)
	rebase = group user/Ross Brattain (rbbratta)
	removeReviewer = group user/Ross Brattain (rbbratta)
	submit = group user/Ross Brattain (rbbratta)
[access "refs/heads/*"]
	read = group user/Ross Brattain (rbbratta)
	create = group user/Ross Brattain (rbbratta)
	push = +force group user/Ross Brattain (rbbratta)
	pushMerge = group user/Ross Brattain (rbbratta)
[access "refs/tags/*"]
	push = group user/Ross Brattain (rbbratta)
	push = +force group user/Ross Brattain (rbbratta)
[submit]
	action = rebase if necessary
